USE [master]
GO
/****** Object:  Database [QLBAOCAOCV]    Script Date: 2/4/2026 12:55:47 AM ******/
CREATE DATABASE [QLBAOCAOCV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBAOCAOCV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLBAOCAOCV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBAOCAOCV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLBAOCAOCV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBAOCAOCV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBAOCAOCV]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/4/2026 12:55:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaos]    Script Date: 2/4/2026 12:55:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaos](
	[MaBC] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[NhietDo] [float] NOT NULL,
	[DoAm] [float] NOT NULL,
	[NgayBC] [datetime2](7) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayXacNhan] [datetime2](7) NULL,
	[GhiChuBC] [nvarchar](255) NULL,
 CONSTRAINT [PK_BaoCaos] PRIMARY KEY CLUSTERED 
(
	[MaBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 2/4/2026 12:55:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[EmailNV] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phongs]    Script Date: 2/4/2026 12:55:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phongs](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Phongs] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260202110012_InitialCreate', N'8.0.23')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260202130317_AddRoleToNhanVien', N'8.0.23')
GO
SET IDENTITY_INSERT [dbo].[BaoCaos] ON 

INSERT [dbo].[BaoCaos] ([MaBC], [MaNV], [MaPhong], [NhietDo], [DoAm], [NgayBC], [TrangThai], [NgayXacNhan], [GhiChuBC]) VALUES (3, 1, 2, 33, 29, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), 0, NULL, NULL)
INSERT [dbo].[BaoCaos] ([MaBC], [MaNV], [MaPhong], [NhietDo], [DoAm], [NgayBC], [TrangThai], [NgayXacNhan], [GhiChuBC]) VALUES (5, 2, 3, 30, 28, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), 1, NULL, NULL)
INSERT [dbo].[BaoCaos] ([MaBC], [MaNV], [MaPhong], [NhietDo], [DoAm], [NgayBC], [TrangThai], [NgayXacNhan], [GhiChuBC]) VALUES (6, 1, 4, 34, 24, CAST(N'2026-02-02T19:16:46.0024182' AS DateTime2), 0, NULL, N'test web')
SET IDENTITY_INSERT [dbo].[BaoCaos] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [EmailNV], [Role]) VALUES (1, N'Nguyễn Văn A', N'angvan@gmail.com', N'0')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [EmailNV], [Role]) VALUES (2, N'Trần Thị B', N'btranthiaa@gmail.com', N'1')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [EmailNV], [Role]) VALUES (3, N'Trần Trường Thịnh', N'thinhtt@gmail.com', N'1')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[Phongs] ON 

INSERT [dbo].[Phongs] ([MaPhong], [TenPhong]) VALUES (1, N'Phòng 1')
INSERT [dbo].[Phongs] ([MaPhong], [TenPhong]) VALUES (2, N'Phòng 2')
INSERT [dbo].[Phongs] ([MaPhong], [TenPhong]) VALUES (3, N'Phòng 3')
SET IDENTITY_INSERT [dbo].[Phongs] OFF
GO
/****** Object:  Index [IX_BaoCaos_MaNV]    Script Date: 2/4/2026 12:55:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_BaoCaos_MaNV] ON [dbo].[BaoCaos]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BaoCaos_MaPhong]    Script Date: 2/4/2026 12:55:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_BaoCaos_MaPhong] ON [dbo].[BaoCaos]
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'') FOR [Role]
GO
ALTER TABLE [dbo].[BaoCaos]  WITH CHECK ADD  CONSTRAINT [FK_BaoCaos_NhanVien_MaNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaoCaos] CHECK CONSTRAINT [FK_BaoCaos_NhanVien_MaNV]
GO
ALTER TABLE [dbo].[BaoCaos]  WITH CHECK ADD  CONSTRAINT [FK_BaoCaos_Phongs_MaPhong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phongs] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaoCaos] CHECK CONSTRAINT [FK_BaoCaos_Phongs_MaPhong]
GO
USE [master]
GO
