<h3>Hỗ trợ hệ thống</h3>

<p>
    Nếu bạn gặp sự cố khi sử dụng hệ thống,
    Vui lòng liên hệ:
</p>

<ul>
    <li>Email: </li>
</ul>

<p class="text-muted">
    QLBaoCaoCV – He thong bao cao noi bo
</p>